<!--
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap" rel="stylesheet">
-->

<div class="HOME_PAGE" style="font-family: 'Lato', sans-serif;">
<h1> HOME_PAGE </h1>
<form class="index_form" action="/" method="post">
<input type="text" name="tooinfo"><br>
<input type="text" name="info"><br>
<button type="submit"> Add entry </button>
</form>

</div>
