<h2>Авторизация</h2>
<form action="/login/auth" method="post">
<input type="username" name="username" placeholder="Username"></br>
<input type="password" name="password" placeholder="Password"></br>
<button type="submit">Авторизоватьсяя</button></br>
</form>
<br><br><br>

<h2>Регистрация</h2>
<form action="/login/reg" method="post">
<input type="username" required name="username" placeholder="Enter username"></br>
<input type="password" required name="password" placeholder="Enter password"></br>
<input type="password" required name="confirm" placeholder="Apply password"></br>
<button type="submit">Зарегистрироваться</button></br>
</form>